<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base target="_top">
  <title>Redirecting…</title>
  <%= render 'shopify_app/partials/layout_styles' %>
  <%= render 'shopify_app/partials/typography_styles' %>
  <%= render 'shopify_app/partials/button_styles' %>
  <%= render 'shopify_app/partials/empty_state_styles' %>
  <style>
    #TopLevelInteractionContent {
      display: none;
    }
  </style>

  <script>
    window.apiKey = "<%= ShopifyApp.configuration.api_key %>";
    window.shopOrigin = "https://<%= @shop %>";
    window.redirectUrl = "<%= @url %>";
  </script>

  <%= javascript_include_tag('shopify_app/top_level', crossorigin: 'anonymous', integrity: true) %>
</head>
<body>
  <main id="TopLevelInteractionContent">
    <div class="Polaris-Page">
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Stack Polaris-Stack--vertical">
              <div class="Polaris-Stack__Item">
                <div class="Polaris-EmptyState">
                  <div class="Polaris-EmptyState__Section">
                    <div class="Polaris-EmptyState__DetailsContainer">
                      <div class="Polaris-EmptyState__Details">
                        <div class="Polaris-TextContainer">
                          <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium"><%= I18n.t('top_level_interaction_heading', app: ShopifyApp.configuration.application_name) %></h1>
                          <div class="Polaris-EmptyState__Content">
                            <p><%= I18n.t('top_level_interaction_body', app: ShopifyApp.configuration.application_name) %></p>
                          </div>
                        </div>
                        <div class="Polaris-EmptyState__Actions">
                          <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                            <div class="Polaris-Stack__Item"><button type="button" id="TopLevelInteractionButton" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"></span><span><%= I18n.t('top_level_interaction_action') %></span></span></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-EmptyState__ImageContainer">
                      <%= image_tag 'storage_access.svg', role: "presentation", alt: "", class: "Polaris-EmptyState__Image" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
