<!DOCTYPE html>
<html>
<head>
  <title>Shopify Application</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div id="header">
    <h1><%= link_to 'Shopify Demo Application', '/' %></h1>
    
    <p id="login-link">
      <% if current_shop %>
          <span class="note">current shop</span> <%= link_to current_shop.url, "https://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span>
          <%= link_to 'logout', :controller => "login", :action => 'logout' %>
      <% end %>
    </p>
  </div>

  <div id="container" class="clearfix">
    <ul id="tabs">
      <%= tab :index, {:controller => 'home'}, :label => 'Home' %>
      <%= tab :design, {:controller => 'home', :action => 'design'}, :label => 'Design Help' %>
    </ul>
    
    <!-- Flash error & notice-->
    <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
    <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
    <!-- begin div.main-->
    <div id="main">
      <%= yield %>
    </div>
    <!-- end div.main -->
  </div>
</body>
</html>