<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopify Demo App</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
  <!-- icons -->
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="apple-touch-icon" href="../assets/shopify-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/shopify-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/shopify-114.png">
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <%= link_to 'Shopify Demo App', '/', :class => 'brand' %>
        
        <% if shop_session %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class='<%= active_nav_class('home', 'index') %>'><%= link_to 'Where to Start', '/' %></li>
              <li class='<%= active_nav_class('home', 'design') %>'><%= link_to 'Bootstrap Info', '/design' %></li>
            </ul>
          </div>
          
          <ul class="nav pull-right">
            <li class="dropdown">
              <%= link_to raw(shop_session.url+' <b class="caret"></b>'), "https://#{shop_session.url}", :class => 'shop_name dropdown-toggle', :'data-toggle' => 'dropdown', :'data-target' => '#' %>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="icon-home"></i> Storefront'), "http://"+shop_session.url, :target => 'blank' %></li>
                <li><%= link_to raw('<i class="icon-cog"></i> Shopify Admin'), "http://"+shop_session.url+"/admin", :target => 'blank' %></li>
                <li class="divider"></li>
                <li><%= link_to raw('<i class="icon-off"></i> Logout'), logout_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        <% end %>
        
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert"><%= message %></div>
    <% end %>
    
    <div class="content">
      <%= yield %>
    </div>
    
    <footer>
      <p>A Shopify app by (company name here)</p>
    </footer>
    
  </div> <!-- /container -->
</body>
</html>
